<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my form</title>
</head>
<body>
    <h1> My form</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="id_name">Name:</label><br>
        {{ form.name}}
        <br><br>
        <label for="id_email">Email:</label><br>
        {{ form.email }}
        <br><br>
        <label for="id_message">Message:</label><br>
        {{ form.message }}
        <br><br>
        <button type="submit"> SUBMIT</button>
    </form>
</body>
</html>